<div class="d-flex flex-row justify-content-around flex-wrap mb-5">

    <div class="d-flex flex-column align-items-center ">
        <h5>All types</h5>
        <div class="steel-class-background p-2 rounded-circle" style="cursor: pointer;" (click)="sendSelectedType('All')">
          <img src="../../../assets/all.svg" alt="all-icon" style="height: 52px; width: 52px;" />
        </div>
      </div>

      <div class="d-flex flex-column align-items-center ">
        <h5>Bug</h5>
        <div class="bug-class-background p-2 rounded-circle" style="cursor: pointer;" (click)="sendSelectedType('bug')">
          <img src="../../../assets/bug.svg" alt="bug-icon" />
        </div>
      </div>

      <div class="d-flex flex-column align-items-center">
        <h5>Dark</h5>
        <div class="dark-class-background p-2 rounded-circle" style="cursor: pointer;" (click)="sendSelectedType('dark')">
          <img src="../../../assets/dark.svg" alt="dark-icon" />
        </div>
      </div>

      <div class="d-flex flex-column align-items-center">
        <h5>Dragon</h5>
        <div class="dragon-class-background p-2 rounded-circle" style="cursor: pointer;" (click)="sendSelectedType('dragon')">
          <img src="../../../assets/dragon.svg" alt="dragon-icon" />
        </div>
      </div>

      <div class="d-flex flex-column align-items-center ">
        <h5>Electric</h5>
        <div class="electric-class-background p-2 rounded-circle" style="cursor: pointer;" (click)="sendSelectedType('electric')">
          <img src="../../../assets/electric.svg" alt="electric-icon" />
        </div>
      </div>

      <div class="d-flex flex-column align-items-center">
        <h5>Fairy</h5>
        <div class="fairy-class-background p-2 rounded-circle" style="cursor: pointer;" (click)="sendSelectedType('fairy')">
          <img src="../../../assets/fairy.svg" alt="fairy-icon" />
        </div>
      </div>

      <div class="d-flex flex-column align-items-center">
        <h5>Fighting</h5>
        <div class="fighting-class-background p-2 rounded-circle" style="cursor: pointer;" (click)="sendSelectedType('fighting')">
          <img src="../../../assets/fighting.svg" alt="fighting-icon" />
        </div>
      </div>

      <div class="d-flex flex-column align-items-center ">
        <h5>Fire</h5>
        <div class="fire-class-background p-2 rounded-circle" style="cursor: pointer;" (click)="sendSelectedType('fire')">
          <img src="../../../assets/fire.svg" alt="fire-icon" />
        </div>
      </div>

      <div class="d-flex flex-column align-items-center">
        <h5>Flying</h5>
        <div class="flying-class-background p-2 rounded-circle" style="cursor: pointer;" (click)="sendSelectedType('flying')">
          <img src="../../../assets/flying.svg" alt="flying-icon" />
        </div>
      </div>

      <div class="d-flex flex-column align-items-center">
        <h5>Ghost</h5>
        <div class="ghost-class-background p-2 rounded-circle" style="cursor: pointer;" (click)="sendSelectedType('ghost')">
          <img src="../../../assets/ghost.svg" alt="ghost-icon" />
        </div>
      </div>

      <div class="d-flex flex-column align-items-center">
        <h5>Grass</h5>
        <div class="grass-class-background p-2 rounded-circle" style="cursor: pointer;" (click)="sendSelectedType('grass')">
          <img src="../../../assets/grass.svg" alt="grass-icon" />
        </div>
      </div>

      <div class="d-flex flex-column align-items-center ">
        <h5>Ground</h5>
        <div class="ground-class-background p-2 rounded-circle" style="cursor: pointer;" (click)="sendSelectedType('ground')">
          <img src="../../../assets/ground.svg" alt="ground-icon" />
        </div>
      </div>

      <div class="d-flex flex-column align-items-center">
        <h5>Ice</h5>
        <div class="ice-class-background p-2 rounded-circle" style="cursor: pointer;" (click)="sendSelectedType('ice')">
          <img src="../../../assets/ice.svg" alt="ice-icon" />
        </div>
      </div>

      <div class="d-flex flex-column align-items-center">
        <h5>Normal</h5>
        <div class="normal-class-background p-2 rounded-circle" style="cursor: pointer;" (click)="sendSelectedType('normal')">
          <img src="../../../assets/normal.svg" alt="normal-icon" />
        </div>
      </div>

      <div class="d-flex flex-column align-items-center">
        <h5>Poison</h5>
        <div class="poison-class-background p-2 rounded-circle" style="cursor: pointer;" (click)="sendSelectedType('poison')">
          <img src="../../../assets/poison.svg" alt="poison-icon" />
        </div>
      </div>

      <div class="d-flex flex-column align-items-center">
        <h5>Psychic</h5>
        <div class="psychic-class-background p-2 rounded-circle" style="cursor: pointer;" (click)="sendSelectedType('psychic')">
          <img src="../../../assets/psychic.svg" alt="psychic-icon" />
        </div>
      </div>

      <div class="d-flex flex-column align-items-center">
        <h5>Rock</h5>
        <div class="rock-class-background p-2 rounded-circle" style="cursor: pointer;" (click)="sendSelectedType('rock')">
          <img src="../../../assets/rock.svg" alt="rock-icon" />
        </div>
      </div>

      <div class="d-flex flex-column align-items-center">
        <h5>Steel</h5>
        <div class="steel-class-background p-2 rounded-circle" style="cursor: pointer;" (click)="sendSelectedType('steel')">
          <img src="../../../assets/steel.svg" alt="steel-icon" />
        </div>
      </div>

      <div class="d-flex flex-column align-items-center">
        <h5>Water</h5>
        <div class="water-class-background p-2 rounded-circle" style="cursor: pointer;" (click)="sendSelectedType('water')">
          <img src="../../../assets/water.svg" alt="water-icon" />
        </div>
      </div>

</div>
